<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Example Of Report">
    <test name="Example">
        <classes>
            <class name="com.reportExample.testNGExample"/>
        </classes>
    </test> <!-- Test -->
    <test name="ExampleNavigate">
        <classes>
            <class name="com.reportExample.testNGExampleNavigate"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->