<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Repots of Automationexercise">
    <test name="Test case 1">
        <classes>
            <class name="com.automationexercise.com.RegisterUser"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->